{% extends "html.twig" %}

{% block scripts %}
    {# Intialize and populate the config object with configuration values from PHP to be made available to JS. #}
    <script>
        /**
         * @class config
         * @property {Object} maps
         * @property {Object} maps.google
         * @property {Object} maps.google.api
         * @property {String} maps.google.api.key
         * @property {Object} maps.google.defaults
         * @property {Number} maps.google.defaults.latitude
         * @property {Number} maps.google.defaults.longitude
         * @property {Number} maps.google.defaults.zoom
         * @property {Array} maps.google.layers
         * @property {Object} maps.google.heatmaps
         */
        let config = {
            maps: {{ config.maps|json_encode|raw }}
        };

        let translations = {{ translations|json_encode|raw }};
    </script>

    {# Load our custom scripts. #}
    <script src="js/validation.js"></script>
    <script src="js/form.js"></script>
    <script src="js/map.js"></script>

    {# Load the Google Maps API script, providing the API key and a callback function. #}
    <script src="https://maps.googleapis.com/maps/api/js?key={{ config.maps.google.api.key}}&callback=initMap">
    </script>
{% endblock %}

{% block response %}
    {% if query.status == "success" %}
        <div id="response" class="container">
            <div class="alert alert-success">
                {{ "Thank you for your submission, a sales representative will contact you soon!"|translate|raw }}
            </div>
        </div>
    {% elseif query.status == "failure" %}
        <div id="response" class="container">
            <div class="alert alert-danger">
                {{ ("Something went wrong during the submission process, we apologize for the inconvenience.<br/>" ~
                "Please feel free to contact us by phone!")|translate|raw }}</div>
        </div>
    {% endif %}
{% endblock %}

{% block navbar %}
    <nav id="demoNavbar" class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <a class="navbar-brand" href="#">MVQN</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div id="navbarSupportedContent" class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="http://dev.mvqn.net">{{ "Home"|translate }}</a>
                </li>
                <!--
                <li class="nav-item">
                    <a class="nav-link" href="#">Full Page</a>
                </li>
                -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ "Projects"|translate }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {# Customer Request Form #}
                        <div class="dropdown-submenu">
                            <a class="dropdown-item dropdown-toggle" href="/">{{ "Customer Request Form"|translate }}</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{{ config.site.url }}/full.php">
                                        {{ "Full Page"|translate }}</a></li>
                                <li><a class="dropdown-item" href="{{ config.site.url }}/compact.php">
                                        {{ "Compact"|translate }}</a></li>
                                <li class="dropdown-divider"></li>
                                <li><a class="dropdown-item btn disabled" href="{{ config.site.url }}/stepped.php">
                                        {{ "Stepped"|translate }}</a></li>
                            </ul>
                        </div>

                        {# TODO: Add other projects here... #}
                    </div>
                </li>

            </ul>
            <form class="form-inline my-2 my-lg-0" action="" method="post">


                <div class="input-group mr-sm-2">
                    <input id="demoUcrmUrl" class="form-control" type="text" placeholder="UCRM URL"
                           aria-label="UCRM URL" value="{{ cookies.demoUcrmUrl }}">
                    <div class="input-group-append">
                    <span class="input-group-text">/api/v1.0</span>
                    </div>
                </div>

                <input id="demoUcrmKey" class="form-control mr-sm-2" type="text" placeholder="UCRM App Key"
                       aria-label="UCRM App Key" value="{{ cookies.demoUcrmKey|replace({ " ": "+" }) }}">

                <label class="sr-only" for="demoLanguage">Language</label>
                <select id="demoLanguage" class="form-control mr-sm-2">
                    {% for code, name in supportedLocales %}
                        <option value="{{ code }}" {% if code == language %}selected{% endif %}>{{ name }}</option>
                    {% endfor %}
                </select>

                <button class="btn btn-outline-success my-2 my-sm-0" type="submit"
                        onclick="applyClick()">{{ "Apply"|translate }}</button>
            </form>
        </div>
    </nav>
{% endblock %}
